* {
    margin: 0;
    padding: 0;
}


body {
    max-width: 768px;
    margin: 0 auto;
}

.top_contents {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #3e6a97;
    font-size: 2em;
    padding: 1em 0;
    text-decoration: underline;
    letter-spacing: 2px;
}

ol {
    margin: 0 auto;
    font-size: 1.6em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

ol li {
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

a {
    outline:none !important;
    text-decoration: none;
    color: #3e6a97;
}


.top_season a {
    cursor: default;
}

.top_season {
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 2em;
    margin-top: 1em;
}

.local_link:hover {
    text-decoration: underline;
}

.local_link {
    padding-left: 2em;
    margin-left: 2.5em;
}


.foto {
    background: url('../images/pict_camera.png') no-repeat 0 0/auto 100%;
}
.library {
    background: url('../images/pict_book.png') no-repeat 0 0/auto 100%;
}
.paints {
    background: url('../images/pict_image.png') no-repeat 0 0/auto 100%;
}
.sounds {
    background: url('../images/pict_nota.png') no-repeat 0 0/auto 100%;
}
.music {
    background: url('../images/pict_headphones.png') no-repeat 0 0/auto 100%;
}

.winter {
    background: url('../images/About_winter_pict.png') no-repeat 0 0/auto 100%;
}
.summer {
    background: url('../images/About_summer_pict.png') no-repeat 0 0/auto 100%;
}
.autumn {
    background: url('../images/About_autumn_pict.png') no-repeat 0 0/auto 100%;
}
.vesna {
    background: url('../images/About_vesna_pict.png') no-repeat 0 0/auto 100%;
}

.to_left {float: left}
.to_right {float: right}

@media screen and (max-width: 650px) {
    .to_left {float: none}
    .to_right {float: none}

    ol {padding-bottom: 0}
}