.popup-text {display: none !important;}

.dop_text {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.stih-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.stih-wrap:before {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;

    content: '';
}

.stih {
    display: inline-block;
    vertical-align: middle;

    text-align: left;
}

.normal_stih {
    display: table;
    margin: 0 auto;
}

h1 {font-size: 1.5em; font-weight: bolder !important; text-align:center;}

h2 {font-size: 1.2em; text-align:center;}

h3 {font-size: 1.2em; font-weight: bolder !important; text-align:center;}


p {font-size: 1.2em; line-height: 33px;}

.iefix {
    display: inline-block;
    width: 0;
    overflow: hidden;
}